.photo {
    width: 300px;

    &__img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        background: #35CBC9;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    &__file {
        opacity: 0;
        overflow: hidden;
        width: 1px;
        height: 1px;
        position: absolute;
        z-index: -1;
    }

    &__button {
        max-width: 200px;
        margin: 0 auto;
        cursor: pointer;
    }
}
